* {
  box-sizing: border-box;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

header {
  background: #fafafa;
  box-shadow: 2px -1px 20px 0px #e1e1e1;
  height: 100px;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .container .logos {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  padding: 10px;
  width: 250px;
}

header .container .logos img {
  width: 75px;
}

header .container .divider {
  background: #343564;
  height: 75%;
  margin: auto;
  width: 4px;
}

header .container nav {
  align-items: center;
  display: flex;
  margin-right: 100px;
}

header .container nav button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  padding: 8px;
}

header .container nav button:hover {
  background: #e1e1e1;
}

header .container nav a {
  color: #000;
  text-decoration: none;
}

header .container .dropdown {
  display: inline-block;
  position: relative;
}

header .container .dropdown .dropdown-content-sobre {
  background: #fff;
  box-shadow: 0px 8px 16px 0px #00000033;
  display: none;
  font-size: 16px;
  overflow: auto;
  min-width: 160px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

header .container .dropdown .dropdown-content-sobre a {
  display: block;
  padding: 10px;
}

header .container .dropdown .dropdown-content-sobre a:hover {
  background: #e1e1e1;
}

header .container .dropdown .show-dropdown-sobre {
  display: block;
}

header .container .dropdown .dropdown-content-produtos {
  background: #fff;
  box-shadow: 0px 8px 16px 0px #00000033;
  display: none;
  font-size: 16px;
  overflow: auto;
  min-width: 160px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

header .container .dropdown .dropdown-content-produtos a {
  display: block;
  padding: 10px;
}

header .container .dropdown .dropdown-content-produtos a:hover {
  background: #e1e1e1;
}

header .container .dropdown .show-dropdown-produto {
  display: block;
}

footer {
  background: #343564;
  height: 250px;
  width: 100%;
}

footer .container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

footer .sobre {
  display: flex;
  flex-direction: column;
}

footer .logos {
  margin: auto 0;
  justify-content: center;
}

footer .logos img {
  height: 70px;
  margin: auto 10px;
  width: 70px;
}

footer .logos .divider {
  margin: 0;
}

footer .infos ul {
  list-style: none;
}

footer .infos li {
  display: flex;
  margin: 14px 0;
  padding: 12px;
  width: 200px;
}

footer .infos img {
  width: 25px;
}

footer .infos a, footer .infos p {
  color: #fff;
  margin-left: 20px;
}

footer .infos .btn-contato {
  align-items: center;
  background: #6FA9FF;
  border-radius: 6px;
}

footer .infos a {
  text-decoration: none;
}

footer .sociais ul {
  list-style: none;
}

footer .sociais li {
  display: flex;
  margin: 14px 0;
  padding: 12px;
  width: 200px;
}

footer .sociais img {
  width: 25px;
}

footer .sociais a, footer .sociais p {
  color: #fff;
  margin-left: 20px;
}

footer .sociais .btn-contato {
  align-items: center;
  background: #6FA9FF;
  border-radius: 6px;
}

footer .infos a {
  text-decoration: none;
}

footer .contato {
  background: #6FA9FF;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  width: 150px;
}

footer .contato img {
  width: 25px;
}

footer .contato a {
  color: #fff;
  text-decoration: none;
}